@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'Poppins';
}
@font-face {
  font-family: 'Cherry';
  src: url('./fonts/CherryBombOne-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.headerlogo{
  font-family: 'Cherry';
}